#!/bin/sh
set -e

if ! command -v zsh >/dev/null 2>&1; then
  echo "Installing zsh..."

  {{ if eq .chezmoi.os "darwin" }}
  brew install zsh
  {{ else if eq .chezmoi.os "linux" }}
  sudo apt update
  sudo apt install -y zsh
  {{ end }}
fi

if [ ! -f "$HOME/.zim/zimfw.zsh" ]; then
  {{ if eq .chezmoi.os "darwin" }}
  brew install --formula zimfw
  {{ else if eq .chezmoi.os "linux" }}
  curl -fsSL https://raw.githubusercontent.com/zimfw/install/master/install.zsh | zsh
  {{ end }}
fi


ZSH_PATH="$(command -v zsh)"

if [ -n "$ZSH_PATH" ] && [ "$SHELL" != "$ZSH_PATH" ]; then
  sudo chsh -s "$ZSH_PATH" "$USER" || true
fi
