fastfetch

ZIM_HOME=${ZDOTDIR:-${HOME}}/.zim
# Install missing modules and update ${ZIM_HOME}/init.zsh if missing or outdated.
if [[ ! ${ZIM_HOME}/init.zsh -nt ${ZIM_CONFIG_FILE:-${ZDOTDIR:-${HOME}}/.zimrc} ]]; then
  source /opt/homebrew/opt/zimfw/share/zimfw.zsh init
fi
# Initialize modules.
source ${ZIM_HOME}/init.zsh

eval "$(starship init zsh)"

# ll - 디렉토리가 있는 모든 것을 먼저 나열합니다
alias ll='eza -al --group-directories-first'
# ls - 크기별로 정렬된 파일만 나열합니다
alias ls='eza -alF --color=always --sort=size | grep -v /'
alias ic="cd ~/iCloud/com~apple~CloudDocs/"
alias python=python3
alias lg="lazygit"

# macOS PATH 설정
typeset -U path PATH
path=(
  /Users/jiseop/.antigravity/antigravity/bin
  /Library/Java/JavaVirtualMachines/jdk-24.jdk/Contents/Home/bin
  $HOME/.local/bin
  $path
)
