fastfetch

ZIM_HOME=${ZDOTDIR:-${HOME}}/.zim
{{ if eq .chezmoi.os "darwin" }}
# Install missing modules and update ${ZIM_HOME}/init.zsh if missing or outdated.
if [[ ! ${ZIM_HOME}/init.zsh -nt ${ZIM_CONFIG_FILE:-${ZDOTDIR:-${HOME}}/.zimrc} ]]; then
  source /opt/homebrew/opt/zimfw/share/zimfw.zsh init
fi
# Initialize modules.
source ${ZIM_HOME}/init.zsh
{{ end }}

eval "$(starship init zsh)"

# ll - 디렉토리가 있는 모든 것을 먼저 나열합니다
alias ll='eza -al --group-directories-first'
# ls - 크기별로 정렬된 파일만 나열합니다
alias ls='eza -alF --color=always --sort=size | grep -v /'
alias python=python3
alias lg="lazygit"
alias oc="opencode"
# vim alias
alias vim="nvim"
alias vi="nvim"
alias vimdiff="nvim -d"
alias cat="bat"

# macOS PATH 설정
typeset -U path PATH
path=(
  $HOME/.local/bin
  $path
)

{{ if eq .chezmoi.os "darwin" }}
path=(
  /Users/jiseop/.antigravity/antigravity/bin
  /Library/Java/JavaVirtualMachines/jdk-24.jdk/Contents/Home/bin
  $path
)

alias ic="cd ~/iCloud/com~apple~CloudDocs/"
{{ end }}

{{ if eq .chezmoi.os "linux" }}
path=(
  /opt/nvim-linux-x86_64/bin
  $path
)

alias bat="batcat"
{{ end }}

opencode() {
  if [[ -n "$CMUX_WORKSPACE_ID" ]]; then
    # 환경 변수가 존재함 = cmux 내부 환경
    cmux omo "$@"
  else
    # 환경 변수가 없음 = ghostty 등 일반 터미널 환경
    command opencode "$@"
  fi
}
